{% extends 'base.html.twig' %}


{% block body %}
    <style>
        .wrapperF {
            margin: 150px auto;
            max-width: 800px;
            width: 95%;
            font: 18px / 1.5 sans-serif;
        }
    </style>

    <div class="wrapperF">
        <h1>Hello there!</h1>

        About this website:
        <ul>
            <li>- is a project of a review site for cinema, video games, TV shows and musics in order to practice web development languages and tools</li>
            <li>- is not for profit or to compete with other similar websites</li>
            <li>- is developed with Symfony</li>
            <li>- is hosted on Heroku and the database is hosted on Alwaysdata</li>
        </ul>
    </div>
{% endblock %}
