body {
    background-color: #FFF;
    font-family: 'Proxima Nova';
    margin: 0;
    padding: 0;
}

h1 {
width: 180px;
font-size: 22px;
padding-left: 5px;
}

h2 {
text-decoration: underline 2px;
margin-left: 15px;
}

h3 {
height: 10px;
margin-top: 0;
}
