{% extends 'base.html.twig' %}

{% block body %}
    <style>
        .wrapperF {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px / 1.5 sans-serif;
        }
        .wrapperText {
            margin-top: 10%;
            margin-bottom: 20%;
            max-width: auto;
            width: 95%;
            font: 28px / 1.5 sans-serif;
            text-align: center;
        }
    </style>

    <div class="wrapperF">
        <div class="wrapperText">
            Share with us some feedbacks !
        </div>
        {# {{ dump () }} #}
        {{ form(form) }}
    </div>
    {% endblock %}
