{% extends 'base.html.twig' %}

{% block body %}
    <style>
        .wrapperF {
            margin-top: 10%;
            margin-bottom: 20%;
            max-width: auto;
            width: 95%;
            font: 28px / 1.5 sans-serif;
            text-align: center;
        }
    </style>

    <div class="wrapperF">
        Thank you for your feedback !
        <br>
        You will be redirected to the home page in <div id="countdown"></div>
    </div>

    <script>
        setTimeout(function () {
            window.location.href = '{{ path('app_home') }}';
        }, 6000);
    </script>

    <script>
        var timeleft = 5;
        var downloadTimer = setInterval(function(){
            document.getElementById("countdown").innerHTML = "<b>" + timeleft + "</b> seconds...";
            timeleft -= 1;
        }, 1000);
    </script>
    {% endblock %}
