{% extends 'base.html.twig' %}

{% block body %}
    <div class="underConstruction">
        <a href="{{ path('app_home') }}"><p>RETURN TO HOME PAGE</p></a>
        <img src="{{ asset('assets/img/PageUnderConstruction.png') }}" alt="" >
    </div>
{% endblock %}